.game {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.game h1 { font-weight: normal;}
.board {
    background-color: skyblue;
    margin: 10px;
    padding: 20px;
}
.board h3 { margin: 0 0 10px; text-align: left; }
.square {
    width: 100px;
    height: 100px;
    padding: 0;
    text-align: center;
    font-size: 84px;
    background-color: #444;
    color: #fff;
    border: 1px solid #999;
    box-sizing: border-box;
    line-height: 1.1;
}
.square:focus {
    outline: none;
    background-color: #222;
}
.board-row {
    display: flex;
    flex-flow: row nowrap;
}