.game {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.board {
    background-color: "skyblue";
    margin: 10px;
    padding: 20px;
}


.square {
    width: 100px;
    height: 100px;
    padding: 0;
    text-align: center;
    font-size: 84px;
    background-color: #444;
    color: #fff;
    border: 1px solid #999;
    box-sizing: border-box;
    line-height: 1.1;
}
.square span {
    padding: 0;
    margin: 0;
}

.board-row {
    display: flex;
    flex-flow: row nowrap;
}